<VirtualHost *:80>
    DocumentRoot {{document_root}}
    ServerName {{ansible_hostname}}
    ServerAlias {{ansible_hostname}}.local localhost
    <Directory {{document_root}}>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        <IfVersion < 2.4>
            Order allow,deny
            Allow from all
        </IfVersion>
        <IfVersion >= 2.4>
            Require all granted
        </IfVersion>
    </Directory>
</VirtualHost>
